@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


.row::after {content: ""; clear: both; display: table;}

[class*="col-"] {float: left;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'DM Sans', sans-serif;

}

.container {
  width: 100%;
  height: auto;

}
.html5lighbox:hover{
background-color: #010101;
}

#html5-watermark {
  display: none !important; 
}

.navbar-collapse {
  padding-bottom: 10px;
}

.nav li {
  text-align: center;
}

.nav li a{
  position: relative;
  display: inline-block;
  text-align: inherit;
  width: 60%;
  padding: 5px 15px;
  margin-top: 10px;
}

.navbar-default .navbar-toggle:focus {
  background-color: rgba(0,0,0,0);
}

.navbar-default .navbar-toggle:hover {
  background-color: rgba(0,0,0,0);
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: coral;
}
a:hover,
a:focus {
  color: #ed2271;
}


#header {

  padding-top: 60px;
}
#nombre {
  line-height: 1px;
}
#intro {
  font-size: 11px;
  text-align: left;
  

}
.container {
  position: relative;
  width: 50%;
}
img {
  width: 100%;
  height: auto;
  padding: 5px;
}



#subtitulo {
  color: #000000;
}
h1 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 0px;
  text-align: left;
  
}

h2 {
  font-weight: 500;
 
  font-family: 'DM Sans', italic;
  color: #f1f1f1;
  font-size: 22px;
  text-align: center;
  
 
}

h3 {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

#about {
font-size: 11px;
text-align: center;
background-color: #FCE8EF;
 color: #1a1a1a;

}
.tiempo {
  padding: 10px;
}



i {
  padding-right: 10px;
}
#bottom {
  padding-bottom: 35px;
}
h6 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
}
p {
  font-family: 'DM Sans', sans-serif;
  font-size: 11px;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: left;
}



.text-muted{
  color: #1a1a1a;
}

section {
  padding: 35px 0 0 0;
}
aside {
  padding: 50px 0;
}
.no-padding {
  padding: 0;
}
.navbar-default {
  background-color: rgba(0, 0, 0, 0.8);
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  color: #F05F40;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #eb3812;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 500;
  border: 0;
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  font-weight: 300;
  font-size: 13px;
  color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: coral;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #900C3F !important;
  font-weight: 600;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}

.container-fluid .navbar-collapse {
  text-align: right;
  padding-right: 25px;
  background-color: white;
}

.icon-design {
  width: 66px;
  height: 70px;
  background-image: url('../img/svg/icon-design.svg');
  margin: 0 auto;
}

.icon-code {
  width: 78px;
  height: 70px;
  background-image: url('../img/svg/icon-code.svg');
  margin: 0 auto;
}

.icon-animation {
  width: 70px;
  height: 70px;
  background-image: url('../img/svg/icon-animation.svg');
  margin: 0 auto;
}

.icon-print {
  width: 100px;
  height: 100px;
  background-image: url('../img/svg/icon-print.svg');
  margin: 0 auto;
}

.icon-web {
  width: 100px;
  height: 100px;
  background-image: url('../img/svg/icon-web.svg');
  margin: 0 auto;
}

.icon-video {
  width: 100px;
  height: 100px;
  background-image: url('../img/svg/icon-video.svg');
  margin: 0 auto;
}

.icon-3d {
  width: 100px;
  height: 100px;
  background-image: url('../img/svg/icon-3d.svg');
  margin: 0 auto;
}

.fa-phone:before {
  color: white;
}

.navbar-default .navbar-toggle:hover {
  background-color: rgba(0,0,0,0);
}

.fa-envelope-o:before {
  color: white;
}

.mfp-wrap {
  background-color: rgba(26,26,26,0.8);
}

#html5box-html5-lightbox #html5-text {
  font-size: 16px !important;
  color: #d2d2d2 !important;
}

#html5-playpause {
  display: none !important;
}

#section-portfolio {
  padding-top: 40px;
}

#services {
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: #f2f2f2;
}

#services .text-center {
  padding: 0 30px;
 }

#contact p, #contact h2 {
  color: white;
}

#contact {
  background-color: #010101;
  text-align: center;
}

#contact i {
  padding: 20px;
}



#copyright {
  color: #808080;
  margin-top: 120px;
  margin-bottom: 40px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  #intro {
    font-size: 11px;
    text-align: left;
    padding-bottom: 25px;
    }

    #about {
      padding: 25px;
      
    }

    #habilidades {
      padding-bottom: 25px;
    }
}

@media (min-width: 767px) {
  .navbar-default {
    background-color: transparent;
/*    border-color: rgba(255, 255, 255, 0.3);*/
  }
  .navbar-default .navbar-header .navbar-brand {
    color: ghostwhite;
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: ghostwhite;
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: #1a1a1a;
    border-color: rgba(34, 34, 34, 0.05);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #F05F40;
    font-size: 14px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #eb3812;
  }

  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: white;
  }
  .container-fluid .navbar-collapse {
    background-color: transparent;
  }

}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-color: #900C3F;
  text-align: center;
  color: white;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  
  margin-top: 0;
  margin-bottom: 0;
 
}



header .header-content .header-content-inner hr {
  margin: 30px auto;
}

@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  header .header-content .header-content-inner p {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 200;
    color: ghostwhite;
    font-size: 16px;
    margin-bottom: 50px;
    max-width: 60%;
  }
}
.section-heading {
  margin-top: 0;
}
.service-box {
  max-width: 400px;
  margin: 50px auto 0;
}

@media (max-width: 767px) {
  .nav li a {
    border: 1px #999 solid;
    background-color: #ffffff;
  }
  #html5box-html5-lightbox #html5-text {
    font-size: 14px !important;
  }
}

@media (max-width: 630px) {
  #html5box-html5-lightbox #html5-text {
    font-size: 12px !important;
  }
}

@media (max-width: 530px) {
  #html5box-html5-lightbox #html5-text {
    font-size: 10px !important;
  }
}

@media (max-width: 500px) {
  #html5box-html5-lightbox #html5-text {
    font-size: 8px !important;
  }
}


@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}
.service-box p {
  margin-bottom: 0;
}

.call-to-action h2 {
  margin: 0 auto 20px;
}
.text-primary {
  color: #F05F40;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-default {
  color: #222222;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.btn-default .badge {
  background-color: #222222;
}
.btn-primary {
  background-color: rgba(0, 0, 0, 0.3) !important;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}


.btn {
  font-family: 'Work Sans', sans-serif;
  border: 2px solid #DAF7A6;
  border-radius: 30px;
  font-weight: 400;
  font-size: medium;
  color: #ffffff;
}
.btn-xl {
  padding: 10px 20px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}



